# You can create it from 
# https://dev.twitch.tv/
clientid=XxX
clientsecret=XxX

# You can create it from 
# https://api.slack.com/apps
slackid=XxX

# You can find how to get it from
# https://streamlink.github.io/cli/plugins/twitch.html
twitchaccountauth=XxX