image:
  repository: ghcr.io/liofal/streamlink
  tag: latest
  pullPolicy: Always

streamer:
  name: "<name_here>"
  twitchName: "<twitch_name_here>"
  quality: "best"
  timer: 120

twitch:
  clientid: "<value_here>"
  clientsecret: "<value_here>"
  oauthtoken: "<value_here>"

slack:
  id: "<value_here>"

telegram:
  bottoken: "<value_here>"
  chatid: "<value_here>"

nfs:
  server: <server_ip_here>
  path: /<volume>/<folder>
