apiVersion: v1
kind: ConfigMap
metadata:
  name: streamlink-config-{{ .Values.streamer.name }}

data:
  user: "{{ .Values.streamer.twitchName }}"
  quality: "{{ .Values.streamer.quality }}"
  timer: "{{ .Values.streamer.timer }}"

  clientid: "{{ .Values.twitch.clientid }}"
  clientsecret: "{{ .Values.twitch.clientsecret }}"
  oauthtoken: "{{ .Values.twitch.oauthtoken }}"

  slackid: "{{ .Values.slack.id }}"

  telegrambottoken: "{{ .Values.telegram.bottoken }}"
  telegramchatid: "{{ .Values.telegram.chatid }}"